body {
  background-color: #121212;
  color: #ffffff;
}

.main-content {
  padding: 2rem;
  background-color: #121212;
  min-height: 100vh;
  padding-top: 120px;
}

.table {
  background-color: #1f1f1f;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  white-space: normal !important;
  word-break: break-word;
}

.table th {
  white-space: nowrap !important;
  word-break: normal !important;
}

.table thead th {
  background-color: #e0e0e0;
  color: #000;
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: #2a2a2a;
}

.form-select {
  background-color: #1f1f1f;
  color: #ffffff;
  border: 1px solid #333;
  width: 300px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: hidden !important;
}

.btn-success {
  background-color: #9731db;
  border: none;
  color: #000;
  font-weight: 600;
}

.btn-outline-danger {
  border-color: #f36666;
  color: #f36666;
}

.modal-content{
  
  max-height: 660px;

}

.modal-overlay{
  padding-top: 200px;
  max-height: 660px;
}

.btn-outline-danger:hover {
  background-color: #900e0e;
  color: #fff;
}

.btn-outline-primary {
  border-color: #2347d6;
  color: #2347d6;
}

.btn-outline-primary:hover {
  background-color: #4cc2ff;
  color: #000;
}

.completed-task-title {
  text-decoration: line-through;
  color: #57f0a9 !important;
  font-weight: 600;
}

.sla-badge {
  display: inline-block;
  margin-top: 5px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
}

.sla-waiting {
  background-color: #ffeb3b;
  color: #000;
}

.sla-breached {
  background-color: #f44336;
}

.sla-completed {
  background-color: #8bc34a;
}

.table td .btn {
  font-size: 0.75rem;
  padding: 4px 8px;
}

.table thead th {
  background-color: #9731db ;
  color: #000000;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #9731db;
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #232323;
  transition: background 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.icon-btn.edit:hover {
  background: #e6e0ff;
}

.icon-btn.delete:hover {
  background: #ffeaea;
}

.icon-btn svg {
  display: block;
}

.small-date {
  font-size: 0.92em;
  padding: 0.25rem 0.5rem !important;
  min-width: 130px;
  max-width: 150px;
  white-space: nowrap;
  color: #e0e0e0;
}
