.navbar{
  background-color: #9731db;
  height: 80px;
  margin: 20px;
  border-radius: 20px;
  padding: 0.5rem;
}

.navbar-brand{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  transition: 0.3s color;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus{
  outline: none;
  box-shadow: none;
}

.nav-link{
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 600;
  position: relative;
}

.nav-link:hover, .nav-link.active{
  color: #4c3ee6;
}

@media(min-width: 991px){
.nav-link:not(.profile-icon)::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #4823f0;
  visibility: hidden;
  transition: 0.3s ease-in-out;


}

.nav-link:hover::before, .nav-link.active::before{
  width: 100%;
  visibility: visible;
}
}